@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* Background Gradient - Intro/CTA mobile nav */
  --gr-clr--300: linear-gradient(to right, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);

  --gr-clr--500: linear-gradient(to right bottom, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  /* Background Gradient - Body: */
  --gr-clr--900: linear-gradient(to right, #2c2d3f, #313248, #353751, #3a3c5b, #3f4164);
  /* Body Text */
  --clr-neutral--100: hsl(0, 0%, 100%);
  /* Footer Text */
  --clr-neutral--300: hsl(240, 2%, 79%);
  /* Body Copy */
  --clr-neutral--400: hsl(203, 5%, 48%);
  /* Body Copy */
  --clr-neutral--500: hsl(207, 13%, 34%);
  /* Footer Background */
  --clr-neutral--900: hsl(240, 10%, 16%);
  --clr-accent--300: hsl(356, 100%, 66%);
  /* Hover */
  --clr-accent--500: hsl(355, 100%, 74%);
  /* Headings */
  --clr-accent--900: hsl(208, 49%, 24%);
  /* Fonts */
  --ff-primary: 'Overpass', sans-serif;
  --ff-accent: 'Ubuntu', sans-serif;
  --br: 1.7em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

.header {
  background: var(--gr-clr--500);
  height: 40rem;
  border-bottom-left-radius: 7rem;
  position: relative;
  display: flex;
  z-index: 1;
}

.image__holder {
  width: 100%;
  height: 40rem;
  position: relative;
  display: block;
}

.img__bg {
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: left 35% bottom 70%;
  background-size: 90em;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 30;
  border-bottom-left-radius: 7rem;
}

.header_content {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  color: var(--clr-neutral--100);
  font-family: var(--ff-primary);
}

.header__title {
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 2rem;
  line-height: 1.2;
}

.header__description {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 3.5rem;
}

.header__btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  font-weight: 700;
  font-size: 1.1rem;
  width: 10rem;
  padding: 0.7rem 0.5rem;
  border-radius: var(--br);
  border: 1px solid var(--clr-neutral--100);
  color: var(--clr-neutral--100);
  background: transparent;
}

.btn--for_free {
  background-color: var(--clr-neutral--100);
  color: var(--clr-accent--300);
}

.nav_container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  height: 8rem;
}

/* Logo Styling */

.logo {
  margin-left: 2rem;
}


/*Hamburger Styling*/

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('../images/icon-hamburger.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  height: 2.5rem;
  width: 5rem;
}

.nav_menu {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 5%;
  width: 90%;
  background: var(--clr-neutral--100);
  border-radius: .4rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 1000ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_menu li {
  margin-bottom: 2.3rem;
  margin-left: 1rem;
}

.nav_menu ul:first-child {
  margin-top: 2.2rem;
}

.nav_menu details,
.nav_menu a {
  text-decoration: none;
  color: var(--clr-neutral--500);
  font-family: var(--ff-accent);
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- Submenu ----- */

details>summary {
  list-style: none;
  position: relative;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: url('../images/icon-arrow-dark.svg');
  position: absolute;
  top: -18%;
  left: 85%;
  width: 25px;
  height: 25px;
}

details[open] {
  color: var(--clr-neutral--400);
}

.submenu li:first-of-type {
  padding-top: 3rem;
}

.submenu li:last-of-type {
  padding-bottom: 2rem;
}

.submenu li {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

details[open] summary:after {
  content: url('../images/icon-arrow-dark.svg');
  position: absolute;
  top: 50%;
  left: 85%;
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
}

.nav_menu__item {
  margin-right: 0.5rem;
}

.btn--sign_up {
  background: var(--gr-clr--300);
  width: 11rem;
  padding: 1rem 0;
  font-family: var(--ff-accent);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-toggle:checked~.nav_menu {
  transform: scale(1, 1);
}

.nav-toggle:checked~.nav_menu details,
.nav-toggle:checked~.nav_menu a {
  opacity: 1;
  transition: opacity 350ms ease-in-out 350ms;
}

/* ----- Main Content ----- */

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--clr-neutral--900);
}

.design__section {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.design__header {
  color: var(--clr-accent--900);
  font-weight: 700;
  font-size: 2.6rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.design__image {
  background-image: url("../images/illustration-editor-mobile.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20rem;
}

.subsection {
  font-size: 1.3rem;
  color: var(--clr-neutral--500);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsection__1 {
  padding: 5rem 0;
}

.subsection__2 {
  padding-bottom: 5rem;
}

.subsection__title {
  max-width: 75%;
  color: var(--clr-accent--900);
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.subsection__content {
  line-height: 1.6;
}

/* ----- State of Art Section ----- */

.state_of_art__section {
  position: relative;
  width: 100%;
  padding-top: 15rem;
}

.phones {
  position: absolute;
  top: 1%;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 30em;
}

.phones img {
  display: block;
  width: 100%;
  object-fit: contain;

}

.circle__holder {
  border-bottom-left-radius: 7rem;
  border-top-right-radius: 7rem;
  background: var(--gr-clr--900);
  height: 60rem;
}

.circle__bg {
  background-image: url("../images/bg-pattern-circles.svg");
  background-position: 50% -19rem;
  background-size: 50em;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 1;
  border-top-right-radius: 7rem;
  position: relative;
}

.state_of_art__content {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.state_of_art__title {
  color: white;
  font-size: 2rem;
  max-width: 85%;
  padding-bottom: 2rem;

}

.state_of_art__paragraph {
  color: white;
  max-width: 80%;
  font-family: var(--ff-primary);
  font-weight: 300;
  line-height: 1.8;
  font-size: 1.2rem;
}

/* ----- Final Section ----- */

.final__section {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  color: transparent;
}


.final__image {
  background-image: url("../images/illustration-laptop-mobile.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20rem;
}

.final__subsection__1 {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.final__subsection__2 {
  padding-bottom: 5rem;
}


/* ----- Footer ----- */
.footer {
  background-color: var(--clr-neutral--900);
  color: var(--clr-neutral--300);
  border-top-right-radius: 7rem;
}

.footer__content {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-bottom: 4rem;
}

.footer__column {
  padding-bottom: 3rem;
  text-align: center;
}

.footer__column__header {
  padding-bottom: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.footer__column ul {
  list-style: none;
}

.footer__column ul li {
  font-weight: 300;
  font-size: 1.4rem;
  padding-bottom: 0.7rem;
}

@media screen and (min-width: 350px) {

  /* ----- Main Content ----- */
  .design__section {
    max-width: 80%;
  }

  .design__image {
    height: 25rem;
  }

  .subsection {
    font-size: 1.5rem;
  }

  .subsection__1 {
    padding-top: 0;
    padding-bottom: 5rem;
  }

  .subsection__2 {
    padding-bottom: 5rem;
  }

  .subsection__title {
    font-size: 2.3rem;
    padding-bottom: 2rem;
  }

  .subsection__content {
    line-height: 1.7;
  }

  /* ----- State of Art Section ----- */

  .circle__holder {
    height: 50rem;
  }

  .circle__bg {
    background-size: 45em;
  }

  .state_of_art__content {
    top: 48%;
  }

  .state_of_art__title {
    font-size: 2.5rem;
  }

  .state_of_art__paragraph {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 540px) {
  .main__container {
    background-color: violet;
  }

  .design__image {

    height: 30rem;
  }

  .final__image {
    height: 30rem;
  }

  .phones {
    top: 0%;
    left: 10%;
    width: 80%;
  }

  .state_of_art__content {
    top: 55%;
  }

}