@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* Background Gradient - Intro/CTA mobile nav */
  --gr-clr--500: linear-gradient(to right, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  /* Background Gradient - Body: */
  --gr-clr--900: linear-gradient(to right, #2c2d3f, #313248, #353751, #3a3c5b, #3f4164);
  /* Body Text */
  --clr-neutral--100: hsl(0, 0%, 100%);
  /* Footer Text */
  --clr-neutral--300: hsl(240, 2%, 79%);
  /* Body Copy */
  --clr-neutral--500: hsl(207, 13%, 34%);
  /* Footer Background */
  --clr-neutral--900: hsl(240, 10%, 16%);
  --clr-accent--300: hsl(356, 100%, 66%);
  /* Hover */
  --clr-accent--500: hsl(355, 100%, 74%);
  /* Headings */
  --clr-accent--900: hsl(208, 49%, 24%);
  /* Fonts */
  --ff-primary: 'Overpass', sans-serif;
  --ff-accent: 'Ubuntu', sans-serif;
  --br: 1.7em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}