@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* Background Gradient - Intro/CTA mobile nav */
  --gr-clr--500: linear-gradient(to right, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  /* Background Gradient - Body: */
  --gr-clr--900: linear-gradient(to right, #2c2d3f, #313248, #353751, #3a3c5b, #3f4164);
  /* Body Text */
  --clr-neutral--100: hsl(0, 0%, 100%);
  /* Footer Text */
  --clr-neutral--300: hsl(240, 2%, 79%);
  /* Body Copy */
  --clr-neutral--500: hsl(207, 13%, 34%);
  /* Footer Background */
  --clr-neutral--900: hsl(240, 10%, 16%);
  --clr-accent--300: hsl(356, 100%, 66%);
  /* Hover */
  --clr-accent--500: hsl(355, 100%, 74%);
  /* Headings */
  --clr-accent--900: hsl(208, 49%, 24%);
  /* Fonts */
  --ff-primary: 'Overpass', sans-serif;
  --ff-accent: 'Ubuntu', sans-serif;
  --br: 1.7em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.header {
  background: var(--gr-clr--500);
  height: 40rem;
  border-bottom-left-radius: 7rem;
  position: relative;
  display: flex;
  z-index: 1;
}

.image__holder {
  width: 100%;
  height: 40rem;
  position: relative;
}

.img__bg {
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: left 35% bottom 70%;
  background-size: 90em;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 99;
  border-bottom-left-radius: 7rem;
}



.nav_container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  z-index: 999;
  height: 8rem;
}

/* Logo Styling */

.logo {
  margin-left: 2rem;
}


/*Hamburger Styling*/

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('../images/icon-hamburger.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  height: 2.5rem;
  width: 5rem;
}

.nav_menu {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: yellow;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 1000ms ease-in-out;
}

.nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_menu li {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.nav_menu ul:first-child {
  margin-top: 1.4rem;
}

.nav_menu a {
  text-decoration: none;
  color: red;
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.nav-toggle:checked~.nav_menu {
  transform: scale(1, 1);
}

.nav-toggle:checked~.nav_menu a {
  opacity: 1;
  transition: opacity 350ms ease-in-out 350ms;
}