@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* Background Gradient - Intro/CTA mobile nav */
  --gr-clr--300: linear-gradient(to right, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);

  --gr-clr--500: linear-gradient(to right bottom, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  /* Background Gradient - Body: */
  --gr-clr--900: linear-gradient(to right, #2c2d3f, #313248, #353751, #3a3c5b, #3f4164);
  /* Body Text */
  --clr-neutral--100: hsl(0, 0%, 100%);
  /* Footer Text */
  --clr-neutral--300: hsl(240, 2%, 79%);
  /* Body Copy */
  --clr-neutral--400: hsl(203, 5%, 48%);
  /* Body Copy */
  --clr-neutral--500: hsl(207, 13%, 34%);
  /* Footer Background */
  --clr-neutral--900: hsl(240, 10%, 16%);
  --clr-accent--300: hsl(356, 100%, 66%);
  /* Hover */
  --clr-accent--500: hsl(355, 100%, 74%);
  /* Headings */
  --clr-accent--900: hsl(208, 49%, 24%);
  /* Fonts */
  --ff-primary: 'Overpass', sans-serif;
  --ff-accent: 'Ubuntu', sans-serif;
  --br: 1.7em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.header {
  background: var(--gr-clr--500);
  height: 40rem;
  border-bottom-left-radius: 7rem;
  position: relative;
  display: flex;
  z-index: 1;
}

.image__holder {
  width: 100%;
  height: 40rem;
  position: relative;
  display: block;
  /* flex-direction: column;
  align-items: center; */
}

.img__bg {
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: left 35% bottom 70%;
  background-size: 90em;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 30;
  border-bottom-left-radius: 7rem;
}

.header_content {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  color: var(--clr-neutral--100);
  font-family: var(--ff-primary);
}

.header__title {
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 2rem;
  line-height: 1.2;
}

.header__description {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 3.5rem;
}

.header__btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  font-weight: 700;
  font-size: 1.1rem;
  width: 10rem;
  padding: 0.7rem 0.5rem;
  border-radius: var(--br);
  border: 1px solid var(--clr-neutral--100);
  color: var(--clr-neutral--100);
  background: transparent;
}

.btn--for_free {
  background-color: var(--clr-neutral--100);
  color: var(--clr-accent--300);
}

.nav_container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  height: 8rem;
}

/* Logo Styling */

.logo {
  margin-left: 2rem;
}


/*Hamburger Styling*/

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('../images/icon-hamburger.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  height: 2.5rem;
  width: 5rem;
}

.nav_menu {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 5%;
  width: 90%;
  background: var(--clr-neutral--100);
  border-radius: .4rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 1000ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_menu li {
  margin-bottom: 2.3rem;
  margin-left: 1rem;
}

.nav_menu ul:first-child {
  margin-top: 2.2rem;
}

.nav_menu details,
.nav_menu a {
  text-decoration: none;
  color: var(--clr-neutral--500);
  font-family: var(--ff-accent);
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

details>summary {
  list-style: none;
  position: relative;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: url('../images/icon-arrow-dark.svg');
  position: absolute;
  top: -18%;
  left: 85%;
  width: 25px;
  height: 25px;
}

details[open] {
  color: var(--clr-neutral--400);
}

details[open] summary:after {
  content: url('../images/icon-arrow-dark.svg');
  position: absolute;
  top: 50%;
  left: 85%;
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
}

.nav_menu__item {
  margin-right: 0.5rem;
}

.btn--sign_up {
  background: var(--gr-clr--300);
  width: 11rem;
  padding: 1rem 0;
  font-family: var(--ff-accent);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-toggle:checked~.nav_menu {
  transform: scale(1, 1);
}

.nav-toggle:checked~.nav_menu details,
.nav-toggle:checked~.nav_menu a {
  opacity: 1;
  transition: opacity 350ms ease-in-out 350ms;
}